<div class="col-lg-4 col-md-12">
    <div class="card single_post">
        <div class="header">
            <h2><strong>Most</strong> View</h2>
        </div>
    <div class="body">
    <h3 class="m-t-0 m-b-5"><a href="blog/<%= item.id %>"><%= item.title %></a></h3>
        <ul class="meta">
            <li><a href="javascript:void(0);"><i class="fa fa-clock-o"></i>Read time: <%= item.readTime %></a></li>
            <li><a href="javascript:void(0);"><i class="zmdi zmdi-label col-amber"></i><%= item.courseCat.title %></a></li>
            <!-- <li><a href="javascript:void(0);"><i class="zmdi zmdi-comment-text col-blue"></i>Comments: 3</a></li> -->
        </ul>
    </div>
    <div class="body">
        <div class="img-post m-b-15">
            <img src="<%= item.image %>" alt="Awesome Image">
            <div class="social_share">
                <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-facebook"></i></button>
                <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-twitter"></i></button>
                <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-instagram"></i></button>
            </div>
        </div>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
        <a href="blog/<%= item.id %>" title="read more" class="btn btn-round btn-info">Read More</a>
    </div>
    </div>
</div>