<div class="">
  <h1>New Course</h1>

  <div class="body">
    <form class="" action="/Course/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">Title</label>
          <input type="text" name="Title" value="<%= element.Title %>" required="false">
        </div>
        <div class="">
          <label for="">Photo</label>
          <input type="text" name="Photo" value="<%= element.Photo %>" required="false">
        </div>
        <div class="">
          <label for="">Desc</label>
          <input type="text" name="Desc" value="<%= element.Desc %>" required="false">
        </div>
        <div class="">
          <label for="">WhatWillLearn</label>
          <input type="text" name="WhatWillLearn" value="<%= element.WhatWillLearn %>" required="false">
        </div>
        <div class="">
          <label for="">Slug</label>
          <input type="text" name="Slug" value="<%= element.Slug %>" required="false">
        </div>
        <div class="">
          <label for="">LongDesc</label>
          <input type="text" name="LongDesc" value="<%= element.LongDesc %>" required="false">
        </div>
      <button type="submit">Update Course</button>
    </form>
    <br />
    <a href="/Course">Index</a>
  </div>
</div>