<h1>Show CourseCategory</h1>

	<p>
		<strong>Title:</strong>
		<%= element.Title %>
	</p>
	<p>
		<strong>Photo:</strong>
		<%= element.Photo %>
	</p>
	<p>
		<strong>Desc:</strong>
		<%= element.Desc %>
	</p>
	<p>
		<strong>Slug:</strong>
		<%= element.Slug %>
	</p>
	<p>
		<strong>LongDesc:</strong>
		<%= element.LongDesc %>
	</p>

<br>
<a href="/CourseCategory/edit/<%= element.id %>">Edit</a>
<a href="/CourseCategory/create">New</a>
<a href="/CourseCategory">Back</a>
