<h1>Show CourseChapiter</h1>

	<p>
		<strong>Title:</strong>
		<%= element.Title %>
	</p>
	<p>
		<strong>Desc:</strong>
		<%= element.Desc %>
	</p>
	<p>
		<strong>Slug:</strong>
		<%= element.Slug %>
	</p>
	<p>
		<strong>LongDesc:</strong>
		<%= element.LongDesc %>
	</p>

<br>
<a href="/CourseChapiter/edit/<%= element.id %>">Edit</a>
<a href="/CourseChapiter/create">New</a>
<a href="/CourseChapiter">Back</a>
